1. Import pandas under the name pd.

In [116]:
import pandas as pd

2.Print the version of pandas that has been imported.

In [117]:
print(pd.__version__)

0.17.1

3.Print out all the version information of the libraries that are required by the pandas library.

In [118]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.1.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: Intel64 Family 6 Model 42 Stepping 7, GenuineIntel
byteorder: little
LC_ALL: None
LANG: None

pandas: 0.17.1
nose: 1.3.7
pip: 10.0.1
setuptools: 18.5
Cython: 0.23.4
numpy: 1.10.1
scipy: 0.16.0
statsmodels: 0.6.1
IPython: 4.0.1
sphinx: 1.3.1
patsy: 0.4.0
dateutil: 2.4.2
pytz: 2015.7
blosc: None
bottleneck: 1.0.0
tables: 3.2.2
numexpr: 2.4.4
matplotlib: 1.5.0
openpyxl: 2.2.6
xlrd: 0.9.4
xlwt: 1.0.0
xlsxwriter: 0.7.7
lxml: 3.4.4
bs4: 4.4.1
html5lib: None
httplib2: None
apiclient: None
sqlalchemy: 1.0.9
pymysql: None
psycopg2: None
Jinja2: 2.8

4.Create a DataFrame df from this dictionary data which has the index labels.

In [144]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index = labels)
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

5.Display a summary of the basic information about this DataFrame and its data.

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
age         8 non-null float64
animal      10 non-null object
priority    10 non-null object
visits      10 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

In [121]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

6.Return the first 3 rows of the DataFrame df.

In [122]:
df.head(3)

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

7.Select just the 'animal' and 'age' columns from the DataFrame df.

In [123]:
df[["animal", "age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

8.Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [124]:
df.loc[df.index[[3,4,8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog    5
i    dog    7

9.Select only the rows where the number of visits is greater than 3.

In [125]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [age, animal, priority, visits]
Index: []

10.Select the rows where the age is missing, i.e. is NaN.

In [126]:
df[df['age'].isnull()]

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

11.Select the rows where the animal is a cat and the age is less than 3.

In [127]:
df[(df['age'] < 3) & (df["animal"] == "cat")]

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

12.Select the rows the age is between 2 and 4 (inclusive).

In [128]:
df[(df["age"] >= 2) & (df["age"] <= 4)]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

or

In [129]:
df[df['age'].between(2, 4)]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

13.Change the age in row 'f' to 1.5.

In [130]:
df.loc["f", "age"] = 1.5 
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

14.Calculate the sum of all visits (the total number of visits).

In [131]:
df["visits"].sum()

19

15.Calculate the mean age for each different animal in df.

In [132]:
df.groupby('animal')["age"].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

16.Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.

In [133]:
df["k"] = df.loc[df.index[4],"visits"]
df

   age animal priority  visits  k
a  2.5    cat      yes       1  2
b  3.0    cat      yes       3  2
c  0.5  snake       no       2  2
d  NaN    dog      yes       3  2
e  5.0    dog       no       2  2
f  1.5    cat       no       3  2
g  4.5  snake       no       1  2
h  NaN    cat      yes       1  2
i  7.0    dog       no       2  2
j  3.0    dog       no       1  2

In [134]:
del df["k"]
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

17.Count the number of each type of animal in df.

In [135]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

18.Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.

In [140]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

   age animal priority  visits
i  7.0    dog       no       2
e  5.0    dog       no       2
g  4.5  snake       no       1
j  3.0    dog       no       1
b  3.0    cat      yes       3
a  2.5    cat      yes       1
f  2.0    cat       no       3
c  0.5  snake       no       2
h  NaN    cat      yes       1
d  NaN    dog      yes       3

19.The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [137]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})
df

   age animal priority  visits
a  2.5    cat     True       1
b  3.0    cat     True       3
c  0.5  snake    False       2
d  NaN    dog     True       3
e  5.0    dog    False       2
f  1.5    cat    False       3
g  4.5  snake    False       1
h  NaN    cat     True       1
i  7.0    dog    False       2
j  3.0    dog    False       1

20.In the 'animal' column, change the 'snake' entries to 'python'.

In [146]:
df['animal'] = df['animal'].replace('snake', "python")
df

   age  animal priority  visits
a  2.5     cat      yes       1
b  3.0     cat      yes       3
c  0.5  python       no       2
d  NaN     dog      yes       3
e  5.0     dog       no       2
f  2.0     cat       no       3
g  4.5  python       no       1
h  NaN     cat      yes       1
i  7.0     dog       no       2
j  3.0     dog       no       1

21.For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [147]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
python  4.5  0.5  NaN

22.You have a DataFrame df with a column 'A' of integers. For example:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
How do you filter out rows which contain the same integer as the row immediately above? // слепить строки(!)

In [151]:
df1 = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df1

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

In [154]:
df1.drop_duplicates(subset='A')

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

23.Given a DataFrame of numeric values, say
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
how do you subtract the row mean from each element in the row?

In [172]:
import numpy as np
df2 = pd.DataFrame(np.random.random(size=(5, 3)))
df2.head()

          0         1         2
0  0.443527  0.281753  0.637795
1  0.241324  0.406699  0.521277
2  0.688810  0.019052  0.649581
3  0.595025  0.040051  0.589568
4  0.543967  0.859713  0.110030

In [173]:
df2.sub(df2.mean(axis=1), axis=0)

          0         1         2
0 -0.010831 -0.172605  0.183436
1 -0.148443  0.016933  0.131510
2  0.236329 -0.433429  0.197100
3  0.186810 -0.368164  0.181353
4  0.039397  0.355143 -0.394540

24.Suppose you have DataFrame with 10 columns of real numbers, for example:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
Which column of numbers has the smallest sum? (Find that column's label.)

In [175]:
df3 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df3

,a,b,c,d,e,f,g,h,i,j
0,0.414057,0.010608,0.455616,0.811732,0.532770,0.934473,0.471838,0.639446,0.878245,0.972754
1,0.013659,0.184872,0.477764,0.924363,0.096432,0.627547,0.371339,0.837601,0.488401,0.877185
2,0.443479,0.580005,0.099913,0.228187,0.171162,0.327475,0.244888,0.319097,0.953977,0.799598
3,0.669736,0.623098,0.573174,0.454378,0.741217,0.831893,0.560540,0.355040,0.326317,0.595230
4,0.558943,0.176721,0.400842,0.299572,0.240383,0.763439,0.528756,0.516292,0.634633,0.409351

In [176]:
df3.sum().idxmin()

'b'

25.How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [177]:
len(df.drop_duplicates(keep=False))

10

In [ ]:
26.You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the column which contains the third NaN value.

(You should return a Series of column labels.)